@{
    ViewData["Title"] = "View Appointments";
}

@model ApptModel


<table class="table table-sm table-striped table-bordered">

    <thead>

        <tr>
            <th>Appointment ID</th>
            <th>Group Name</th>
            <th>Group Size</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>

    </thead>

    <tbody>

        @if (BookData?.Count() > 0)
        {
            @foreach (appts a in Model.ApptId)
            {
                <tr>
                    <td>@a.ApptId</td>
                    <td>@a.GroupName</td>
                    <td>@a.GroupSize</td>
                    <td>@a.Email</td>
                    <td>@a.PhoneNumber</td>

                    <td>
                        <a class="btn btn-info btn-sml" asp-area="" asp-controller="Home" asp-action="EditAppt">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-area="" asp-controller="Home" asp-action="DeleteAppt">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5" class="text-center">No Appointments</td>
            </tr>
        }

    </tbody>

</table>

<NavLink class="btn btn-primary" href="/admin/books/create">Create</NavLink>