@{
    ViewData["Title"] = "View Appointments";
}

@model List<ApptModel>


<table class="table table-sm table-striped table-bordered">

    <thead>

        <tr>
            <th>Appointment ID</th>
            <th>Group Name</th>
            <th>Group Size</th>
            <th>Email</th>
            <th>Phone Number</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var a in Model)
        {
            <tr>
                <td>@a.ApptId</td>
                <td>@a.GroupName</td>
                <td>@a.GroupSize</td>
                <td>@a.Email</td>
                <td>@a.PhoneNumber</td>

                <td>
                    <a class="btn btn-info btn-sml" asp-route-apptid="@a.ApptId"  asp-controller="Home" asp-action="EditAppt">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger btn-sm" asp-route-apptid="@a.ApptId" asp-controller="Home" asp-action="DeleteAppt">Delete</a>
                </td>
            </tr>
        }


    </tbody>

</table>
