@{
    ViewData["Title"] = "View Appointments";
}

@model List<ApptModel>

@*not working right*@
@if (Model.Count() > 0) 
{
    <table class="table table-sm table-striped table-bordered">

        <thead>

            <tr>
                <th>Appointment ID</th>
                <th>Group Name</th>
                <th>Group Size</th>
                <th>Email</th>
                <th>Phone Number</th>
            </tr>

        </thead>

        <tbody>

            @foreach (var a in Model)
            {
                <tr>
                    <td>@a.ApptId</td>
                    <td>@a.GroupName</td>
                    <td>@a.GroupSize</td>
                    <td>@a.Email</td>
                    <td>@a.PhoneNumber</td>

                    <td>
                        <a class="btn btn-info btn-sml" asp-controller="Home" asp-action="EditAppt" asp-route-apptid="@a.ApptId">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-danger btn-sm" asp-controller="Home" asp-action="DeleteAppt" asp-route-apptid="@a.ApptId">Delete</a>
                    </td>
                </tr>
            }


        </tbody>

    </table>
}
else
{
    <h1 class="text-center">No Appointments</h1>
}